@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply flex items-center justify-between flex-wrap bg-gray-800 p-6;
  }

  .header_links_container {
    @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto;
  }
  .header_links {
    @apply lg:flex-grow lg:flex justify-center text-justify flex flex-col lg:flex-row items-center;
  }

  .header_links_li { 
    @apply block mt-8 lg:justify-center lg:mt-0 mr-4 hover:border-green-400 lg:text-lg
    select-none shadow-md hover:text-green-300 hover:border-b border-b border-gray-600 rounded-full
    text-green-600 text-justify text-sm;
  }

  .header_logo {
    @apply flex items-center flex-shrink-0 text-green-500 mr-6 text-3xl;
  }

  .header_logo_mobile {
    @apply flex items-center  text-green-500 text-3xl hover:text-green-300
    lg:hidden;
  }
  
  .footer {
    @apply text-center text-lg m-10;
  }

  .pagination_container {
    @apply w-screen h-auto text-white flex items-center justify-center text-center gap-60 align-middle;
  }

  .pagination_button {
    @apply border w-20 border-green-800 hover:border-green-500 rounded-full;
  }

  .search_container {
    @apply text-white mt-10 w-screen h-auto flex justify-end;
  }

  .cards_container {
    @apply h-auto p-10 grid grid-cols-2 md:grid-cols-5 gap-10 ;
  }

  .cards {
    @apply select-none shadow-lg shadow-green-900 hover:shadow-green-400 
    rounded-lg flex flex-col justify-center items-center;
  }

  .cards_content {
    @apply text-white text-lg content-center text-center p-2;
  }

  .char_card {
    @apply p-10 mt-10 h-auto flex shadow-lg shadow-green-400 justify-center items-center rounded-md;
  }

  .calc_container {
    @apply shadow-md mt-5 shadow-green-900 h-auto 
    p-5 grid grid-cols-4 gap-5 rounded-lg;
  }

  .calc_display {
    @apply border shadow-md p-5 shadow-green-900 
    border-green-800 w-80 h-16 
    rounded-md flex items-center justify-end;
  }

  .calc_display_text {
    @apply text-green-500 text-3xl inline-block align-middle line-clamp-1;
  }

  .calc_button_number {
    @apply w-16 h-16 rounded-full shadow-md shadow-gray-500   
  hover:shadow-green-400 hover:text-white lg:text-4xl text-2xl text-indigo-500;
  }

  .calc_button_char {
    @apply bg-black border border-green-500
    shadow-sm shadow-green-800 hover:shadow-md lg:text-4xl text-2xl
     hover:shadow-green-300 text-green-500 text-4xl rounded-md;
  }

  .swiper {
    width: 600px;
    height: 300px;
  }
}

body {
  background-color: black;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}


body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 1px solid rgba(0,255,0,0.3);  /* creates padding around scroll thumb */
}

input {
  @apply p-1 border-b border-green-900 focus:outline-none mr-5
  text-green-400 bg-black focus:ring-1 focus:ring-green-800 rounded-md;
}

input::placeholder {
  color: rgb(70,75,70);
  text-align: center;
}
